@import url(./global.css);

.two-factor {
    color: var(--text-secondary);
    background: var(--backgound-paper);
    box-shadow: 0px 0px 15px 5px #111;
    width: 85%;
    max-width: 600px;
    margin: 5rem auto;
}
.two-factor .description {
    color: var(--text-secondary);
}
.two-factor form {
    margin: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}
.two-factor form textarea {
    min-height: 100px;
}

.two-factor .buttons button {
    background-color: var(--primary);
    border-radius: var(--border-md);
    color: var(--text-primary);
    font-size: var(--font-md);
}
.notices {
    padding: 1rem;
    border-radius: var(--border-md);
    border: 1px solid var(--border-primary);
    margin: 0 0 1rem 0;
}
.notices .subtitle {
    color: var(--text-primary);
    font-weight: bold;
}
.notices-list {
    color: var(--text-primary);
    list-style-type: disc;
    margin: 0.5rem 1rem;
}
.notices-list li {
    margin-top: 0.5rem;
}
.alert {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid var(--error);
    background-color: var(--error-veryLight);
    border-radius: 5px;
    font-size: var(--font-sm);
    color: var(--text-secondary);
}
.alert-success {
    border-color: var(--success);
    background-color: var(--success-veryLight);
}
.js-alert {
    text-align: center;
    color: var(--error);
    margin: 2rem;
}
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-weight: 600;
    font-size: var(--font-sm);
    color: var(--text-primary);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--backgound-default);
    z-index: 4;
}

header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navbar {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}
.logo {
    flex-grow: 1;
    width: 210px;
    height: 70px;
}
.logo-image {
    width: 100%;
    height: auto;
}
.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    display: none;
}
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    color: var(--text-primary);
    border-radius: var(--border-xxl);
}
.nav-link:hover {
    background-color: var(--primary-dark);
}
/* .nav-link:hover {
    transition: all 0.2s ease;
    transform: scale(1.2);
    margin: 0 0.5rem;
} */
.nav-link svg,
.not-nav-link svg {
    fill: var(--text-primary);
    stroke: var(--text-primary);
    width: 25px;
    height: 25px;
}
.not-nav-link {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--primary);
    color: var(--text-primary);
    border-radius: var(--border-xxl);
    padding: 0.5rem 1rem;
}
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.content-sidebar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}
.content-sidebar .subtitle {
    color: var(--text-primary);
}
.content-homepage {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.content-profile {
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    margin: 0 auto;
}
.content-browsing {
    margin: 0 1rem;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.content-browsing .subtitle {
    margin: 1rem 0;
    color: var(--text-primary);
}
.container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-primary);
    border-radius: var(--border-md);
    padding: 1rem;
}
.filter-result .subtitle-sm {
    color: var(--text-primary) !important;
}

.info-wrapper {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
}

.info-folder {
    position: absolute;
    height: 15px;
    width: 18px;
    border-radius: var(--border-lg);
    overflow: hidden;
}

.info-folder:hover {
    height: auto;
    width: auto;
    min-width: 200px;
    padding: 0;
}

.info-icon {
    position: relative;
    background-color: var(--backgound-default);
    color: var(--text-primary);
    font-weight: bold;
    height: 15px;
    width: 15px;
    border: 1px solid var(--text-primary);
    border-radius: var(--border-lg);
    padding: 1px 4px;
    z-index: 3;
}

.info-message {
    font-size: var(--font-sm);
    position: relative;
    bottom: 14px;
    left: 5px;
    background-color: var(--backgound-default);
    color: var(--text-primary);
    font-weight: normal;
    text-align: left;
    border: 1px solid var(--border-primary);
    border-radius: var(--border-lg);
    padding: 5px;
    margin: 10px;
    z-index: 4;
}

.message textarea {
    width: 100%;
}
.responsive-table {
    overflow-x: scroll;
}

.hamburger-toggle {
    position: relative;
    margin-left: 2rem;
}
.hamburger-toggle .toggle-ic {
    position: relative;
    width: 25px;
    height: 25px;
    fill: var(--primary);
}
.hamburger-toggle > input.toggle-on {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    opacity: 0;
}
.hamburger-toggle > input.toggle-on:checked + .hamburger-menu {
    transform: translateX(0);
}
.hamburger-toggle > input.toggle-on:not(:checked) + .hamburger-menu {
    transform: translateX(-110%);
}
.toggle-off {
    position: absolute;
    top: 5rem;
    right: 1rem;
    width: 25px;
    height: 25px;
}
.toggle-off input {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.hamburger-menu {
    transition: all 0.5s ease;
    padding-top: 10rem;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 300px;
    background-color: var(--backgound-paper);
    box-shadow: 5px 0 12px 5px rgb(43 43 43);
    transform: translateX(-110%);
    overflow-y: scroll;
}
.hamburger-menu a {
    border-radius: var(--border-md);
    margin: 3rem 2rem;
    padding: 1rem 2rem;
    display: block;
    color: var(--primary);
}
.hamburger-menu a:hover {
    background-color: var(--primary);
    color: var(--text-primary);
}
.hamburger-menu a:hover svg {
    fill: var(--text-primary);
}
.hamburger-menu svg {
    width: 25px;
    height: 25px;
    fill: var(--primary);
}

::-webkit-scrollbar {
    /* display: none; */
}

.auth-header {
    margin: auto;
    padding: auto;
    margin-top: 50px;
    width: 275px;
    height: 91px;
    font-weight: 700px;
    text-align: center;
}

.auth-header a:hover {
    color: #fff;
    text-decoration: none;
}

.auth-header-logo {
    display: inline-block;
    vertical-align: bottom;
}

.auth-header-text {
    display: inline-block;
    font-size: 37px;
    text-shadow: 1px 1px 2px #686868;
    padding-bottom: 4px;
    color: #fff;
}

.logo-text {
    float: left;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
    position: relative;
    bottom: 3px;
}

.logo-title {
    font-size: 34px;
    color: #333;
    text-shadow: 1px 1px 2px #ccc;
}

.logo-subtitle {
    position: relative;
    left: 3px;
    bottom: 5px;
    font-size: 18px;
    font-style: italic;
}

.change-currency {
    cursor: pointer;
}

.change-currency:hover .currencies {
    opacity: 100;
}

.currencies {
    opacity: 0;
}
.nav-banner {
    float: right;
}

.nav-banner:hover {
    text-decoration: none;
}

.nav-banner-image {
    float: right;
}

.nav-banner-title {
    text-align: right;
    color: #777;
    position: relative;
    left: 9px;
}

.nav-banner-subtitle {
    float: right;
    width: 200px;
    text-align: right;
    color: #bbb;
    font-size: 85%;
}

.nav-divider {
    height: 1px;
    margin: 0px 0px 0px 250px;
    background: -moz-linear-gradient(right, #ddd 0%, #ddd 90%, white 100%);
}

.nav-cart {
    background: #5865f2;
    color: white;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 7.5px;
    border-radius: 10mm;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
}

.nav-cart:hover {
    text-decoration: none;
    border-radius: 10mm;
}

.nav-cart-count {
    width: 10px;
    float: left;
    text-align: center;
    position: relative;
    right: -29px;
    bottom: 1px;
    font-size: 22px;
    text-align: center;
    color: white;
}

.nav-cart-image {
    z-index: -1;
    float: left;
    background-color: #5865f2;
    width: 24px;
    height: 24px;
    padding: 10px;
    border-radius: 0px !important;
}

.nav-bottom-divider {
    float: right;
    position: relative;
    top: 10px;
    height: 34px;
    width: 1px;
    background: #ddd;
}

.nav-welcome {
    padding: 1rem 2rem;
    border-radius: var(--border-lg);
    font-size: var(--font-md);
}
.nav-welcome-username {
    font-size: var(--font-md);
    font-weight: 600;
}

.search-field {
    display: flex;
    justify-content: center;
}
.search-field .input-container {
    margin: 0 2rem;
    width: 100%;
    max-width: 600px;
}

.search-field::placeholder {
    color: var(--text-primary);
}

.table-space td {
    text-align: center;
}
.categories {
    display: flex;
    justify-content: center;
}
.categories-folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.categories-header {
    font-weight: bold;
    color: var(--text-primary);
    font-size: var(--font-md);
    background: var(--backgound-default);
    border-color: var(--border-primary);
    border: 1px solid var(--border-primary);
    padding: 1rem;
    border-radius: var(--border-lg);
}

.categories-body {
    padding: 1rem 2rem;
    border-radius: var(--border-xl);
    border: 1px solid var(--border-primary);
    background: var(--backgound-default);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.zebra {
    border: 1px solid var(--border-primary);
    border-radius: var(--border-md);
    color: var(--text-secondary);
}
.zebra .description {
    color: var(--text-secondary);
}

.zebra tr td {
    border-top: 1px solid var(--border-primary);
}

.zebra tr td,
.zebra tr th {
    background-color: var(--backgound-paper);
    padding: 5px 20px 5px 5px;
    text-align: center;
}

.zebra tr:nth-child(2n + 1) td,
.zebra tr:nth-child(2n + 1) th {
    background-color: var(--backgound-paper);
}

.active {
    font-weight: bold;
}

.dropdown-wrapper {
    overflow: hidden;
    width: 150px;
    border-radius: var(--border-md);
    border: 1px solid var(--border-primary);
}

.button-danger {
    background-color: var(--error);
    font-weight: bolder;
    color: var(--text-primary);
    height: 30px;
    border: none;
    border-radius: var(--border-sm);
}

.text-danger {
    color: var(--error);
}

.link-danger {
    color: var(--error);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.carrousel {
    border-radius: 0;
    white-space: nowrap;
    max-width: 400px;
    height: 300px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    border: 1px solid var(--border-secondary);
}
.carrousel img {
    object-fit: cover;
}
.carrousel-container {
    max-width: 400px;
}

.slide {
    flex: 0 0 auto;
}
.btn-link {
    color: #004b00;
    border: none;
    background-color: transparent;
    outline: none;
}

.btn-link:hover {
    color: #00a514;
    text-decoration: underline;
    cursor: pointer;
}

.btn-link:active {
    position: relative;
    top: 0px;
}
.flashdata {
    display: inline-block;
    font-weight: bold;
    color: var(--text-primary);
    padding: 0.2rem 0.4rem;
    margin: 0rem 0 1rem 0;
    border-radius: 3px;
}

.flashdata-error {
    background-color: var(--error);
}

.flashdata-success {
    background-color: var(--success);
}

.flashdata-warning {
    background-color: var(--warning);
}
.bar {
    border: 1px solid var(--border-secondary);
    background-color: var(--backgound-default);
    border-radius: 5px;
    margin: 0 0 15px 0;
    padding: 5px;
    text-align: left;
    font-size: var(--font-md);
}

.rodape {
    clear: both;
}

.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 260px;
    background-color: var(--backgound-paper);
    border: 1px solid var(--border-primary);
    border-radius: var(--font-md);
    overflow: hidden;
    margin: 0 0 1.5rem 0;
}
.product-image,
.product-image-card {
    background-color: var(--backgound-paper);
    object-fit: cover;
    box-shadow: inset 5px 5px 5px #ddd;
}
.product-image {
    width: 180px;
    height: 120px;
}
.product-image-card {
    width: 100%;
    height: 120px;
}

.product-price {
    background-color: var(--backgound-paper);
    height: 100%;
    padding: 1rem 2rem;
    text-align: center;
}
.product-price a:hover,
.product-infos a:hover {
    color: var(--text-secondary);
}

.product-infos {
    padding: 1rem 2rem;
    text-align: center;
}

.product-slides img {
    border-radius: 5px;
}

.product-alldetails {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}

.featured-product {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 5px 20px 5px;
}

.featured-product-title {
    height: 30px;
    padding: 4px 0;
    overflow: hidden;
}

.featured-product-sidebar {
    border-radius: var(--border-md);
    overflow: hidden;
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 150px;
    gap: 1rem;
}
.featured-product-sidebar > div {
    min-width: 150px;
}

.price-big {
    font-size: 150%;
    color: var(--success);
}

.price-small {
    font-size: var(--font-sm);
    color: var(--error);
}
.subcategory-link {
    margin-left: 20px;
}

/* media queriy for hide side bar */
@media only screen and (min-width: 1000px) {
    .nav-links {
        display: inline-flex;
        flex-grow: 1;
    }
    .hamburger-toggle {
        display: none;
    }
}
