@import url(./global.css);

/* ===== Shared Styles ===== */
.master,
.master-register {
    background-color: var(--backgound-default);
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.master form .form-group .captcha,
.master-register form .form-group .captcha {
    align-self: center;
}
.master .btn-submit,
.master-register .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.master .btn-submit button,
.master-register .btn-submit button {
    cursor: pointer;
    border: none;
    color: var(--text-primary);
    background-color: var(--primary);
    font-size: var(--font-md);
    border-radius: var(--border-xl);
    padding: 1rem 2rem;
    width: 100%;
    max-width: 180px;
    align-self: center;
    transition: background-color 0.35s ease;
}
.master .btn-submit button:hover,
.master-register .btn-submit button:hover {
    background-color: var(--primary-dark);
}
.master .text-danger,
.master-register .text-danger {
    color: var(--error);
    font-size: var(--font-sm);
}
.master h1,
.master-register h1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-transform: uppercase;
    font-size: var(--font-xl);
    color: var(--text-primary);
    line-height: 30px;
}
/* ===== Shared Styles ===== */

/* ===== Login Styles ===== */
.buttons button{
    background-color: var(--backgound-paper);
    border-radius: var(--border-md);
    color: var(--text-secondary);
    font-size: var(--font-md);
}
.buttons button:hover{
    background-color: var(--primary);
    color: var(--text-primary);

}
.master form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    gap: 1.5rem;
    max-width: 600px;
    width: 100%;
}
.master form .form-group {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    max-width: 350px;
    gap: 1rem;
}

/* ===== Login Styles ===== */

/* ===== Register Styles ===== */
.master-register form {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 1.5rem;
    max-width: 600px;
    width: 100%;
    justify-content: center;
}
.master-register form .form-group {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
/* ===== Register Styles ===== */

/* ===== Reset Password ===== */

.mb-10 {
    font-size: var(--font-sm);
}

/* ===== Reset Password ===== */

/* ===== Verify Login ===== */

.alert {
    margin: 10px auto;
    padding: 10px;
    border: 2px solid var(--error);
    background-color: var(--error-veryLight);
    border-radius: 5px;
    font-size: var(--font-sm);
    color: var(--text-secondary);
}
.alert-success {
    border-color: var(--success);
    background-color: var(--success-veryLight);
}
/* ===== Verify Login ===== */
